<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PasswordManager_db" connectionString="Data Source = DESKTOP-3P42OP0\SQLEXPRESS;Initial Catalog = PasswordManager;Integrated Security = True;Encrypt = False;Trust Server Certificate = False;Application Intent = ReadWrite;Multi Subnet Failover = False"/>
	</connectionStrings>
	<appSettings>
		<add key="ip" value="127.0.0.1"/>
		<add key="port" value="4444"/>
	</appSettings>
</configuration>